#  Indexing & Selecting Data in Pandas

<div style="background-color:#f0f6ff; border-left: 6px solid #4a90e2; padding: 15px; border-radius:10px; font-size:16px; line-height:1.6;">



- accesing data using index : <b>loc & iloc</b>  
- slicing with indexs  
- Types of indexes  
- creating & modifying index  
- common operation with index  

</div>

---

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('taxis')

In [3]:
df.iloc[[0,4],[2,3,4]]

   passengers  distance  fare
0           1      1.60   7.0
4           3      2.16   9.0

In [4]:
df.loc[0:20,['passengers','fare']]
df.set_index('pickup',inplace=True)

In [5]:
df.loc['2019-03-04 16:11:55',['passengers','fare']]

passengers      1
fare          5.0
Name: 2019-03-04 16:11:55, dtype: object

In [6]:
df.index

DatetimeIndex(['2019-03-23 20:21:09', '2019-03-04 16:11:55',
               '2019-03-27 17:53:01', '2019-03-10 01:23:59',
               '2019-03-30 13:27:42', '2019-03-11 10:37:23',
               '2019-03-26 21:07:31', '2019-03-22 12:47:13',
               '2019-03-23 11:48:50', '2019-03-08 16:18:37',
               ...
               '2019-03-12 08:10:47', '2019-03-30 20:52:15',
               '2019-03-07 15:34:30', '2019-03-28 08:04:47',
               '2019-03-23 18:26:09', '2019-03-31 09:51:53',
               '2019-03-31 17:38:00', '2019-03-23 22:55:18',
               '2019-03-04 10:09:25', '2019-03-13 19:31:22'],
              dtype='datetime64[ns]', name='pickup', length=6433, freq=None)

In [7]:
df.loc[['2019-03-23 20:21:09', '2019-03-04 16:11:55',
               '2019-03-27 17:53:01', '2019-03-10 01:23:59',
               '2019-03-30 13:27:42', '2019-03-11 10:37:23',
               '2019-03-26 21:07:31', '2019-03-22 12:47:13',
               '2019-03-23 11:48:50', '2019-03-08 16:18:37'],['fare','total']]

                     fare  total
pickup
2019-03-23 20:21:09   7.0  12.95
2019-03-04 16:11:55   5.0   9.30
2019-03-27 17:53:01   7.5  14.16
2019-03-10 01:23:59  27.0  36.95
2019-03-30 13:27:42   9.0  13.40
2019-03-11 10:37:23   7.5  12.96
2019-03-26 21:07:31  13.0  18.80
2019-03-22 12:47:13   8.5  11.80
2019-03-23 11:48:50  15.0  19.30
2019-03-08 16:18:37   8.0  13.30

In [8]:
df

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
pickup,,,,,,,,,,,,,
2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [9]:
df.reset_index(drop=True)

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [ ]:
df.sort_index(ascending=False,)

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
pickup,,,,,,,,,,,,,
2019-03-31 23:43:45,2019-04-01 00:13:58,5,12.25,37.0,0.00,0.0,40.80,yellow,cash,LaGuardia Airport,Williamsburg (South Side),Queens,Brooklyn
2019-03-31 23:15:03,2019-03-31 23:27:12,1,3.03,11.5,3.82,0.0,19.12,yellow,credit card,Midtown East,Upper West Side South,Manhattan,Manhattan
2019-03-31 22:51:53,2019-03-31 22:55:10,1,0.67,4.5,1.66,0.0,9.96,yellow,credit card,West Village,Meatpacking/West Village West,Manhattan,Manhattan
2019-03-31 22:32:27,2019-03-31 22:34:45,1,0.40,3.5,1.45,0.0,8.75,yellow,credit card,Midtown North,Lincoln Square East,Manhattan,Manhattan
2019-03-31 22:13:37,2019-03-31 22:22:50,1,1.00,7.5,0.70,0.0,12.00,yellow,credit card,SoHo,Lower East Side,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-01 00:29:22,2019-03-01 00:32:48,4,0.74,4.5,1.00,0.0,9.30,yellow,credit card,Meatpacking/West Village West,Meatpacking/West Village West,Manhattan,Manhattan
2019-03-01 00:15:53,2019-03-01 00:47:58,1,7.00,25.5,7.30,0.0,36.60,yellow,credit card,West Village,Astoria,Manhattan,Queens
2019-03-01 00:08:32,2019-03-01 00:29:47,3,7.35,22.5,1.00,0.0,27.30,yellow,credit card,East Chelsea,Mott Haven/Port Morris,Manhattan,Bronx
2019-03-01 00:03:29,2019-03-01 00:13:32,3,2.16,10.0,2.00,0.0,15.80,yellow,credit card,Lincoln Square East,Upper East Side North,Manhattan,Manhattan
2019-02-28 23:29:03,2019-02-28 23:32:35,1,0.90,5.0,0.00,0.0,6.30,green,cash,Old Astoria,Long Island City/Queens Plaza,Queens,Queens

In [11]:
df.reset_index(inplace=True,)
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [12]:
df.set_index(['pickup_zone'	,'dropoff_zone'],inplace=True)

In [13]:
df.loc['Alphabet City','West Village']

/var/folders/4y/ysvrh3ns3dg7903fvsqplntm0000gn/T/ipykernel_1656/3920592387.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc['Alphabet City','West Village']

,,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_borough,dropoff_borough
pickup_zone,dropoff_zone,,,,,,,,,,,,
Alphabet City,West Village,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Manhattan,Manhattan

In [14]:
df.loc[(['Lenox Hill West','Midtown East'],
       ['UN/Turtle Bay South']),'passengers']

pickup_zone      dropoff_zone
Lenox Hill West  UN/Turtle Bay South    1
                 UN/Turtle Bay South    1
                 UN/Turtle Bay South    1
                 UN/Turtle Bay South    2
                 UN/Turtle Bay South    6
                 UN/Turtle Bay South    4
Midtown East     UN/Turtle Bay South    2
                 UN/Turtle Bay South    1
                 UN/Turtle Bay South    3
                 UN/Turtle Bay South    1
                 UN/Turtle Bay South    1
Name: passengers, dtype: int64

In [15]:
df

,,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_borough,dropoff_borough
pickup_zone,dropoff_zone,,,,,,,,,,,,
Lenox Hill West,UN/Turtle Bay South,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Manhattan,Manhattan
Upper West Side South,Upper West Side South,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Manhattan,Manhattan
Alphabet City,West Village,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Manhattan,Manhattan
Hudson Sq,Yorkville West,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Manhattan,Manhattan
Midtown East,Yorkville West,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
East Harlem North,Central Harlem North,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,Manhattan,Manhattan
Jamaica,East Concourse/Concourse Village,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Queens,Bronx
Crown Heights North,Bushwick North,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Brooklyn,Brooklyn
East New York,East Flatbush/Remsen Village,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,Brooklyn,Brooklyn
Boerum Hill,Windsor Terrace,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Brooklyn,Brooklyn

In [16]:
df.loc[0:20,['passengers','fare']]

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [ ]:
df.index

RangeIndex(start=0, stop=6433, step=1)

In [ ]:
df.loc[['2019-03-23 20:21:09', '2019-03-04 16:11:55',
               '2019-03-27 17:53:01', '2019-03-10 01:23:59',
               '2019-03-30 13:27:42', '2019-03-11 10:37:23',
               '2019-03-26 21:07:31', '2019-03-22 12:47:13']]

KeyError: "None of [Index(['2019-03-23 20:21:09', '2019-03-04 16:11:55', '2019-03-27 17:53:01',\n       '2019-03-10 01:23:59', '2019-03-30 13:27:42', '2019-03-11 10:37:23',\n       '2019-03-26 21:07:31', '2019-03-22 12:47:13'],\n      dtype='object')] are in the [index]"

In [ ]:
df.sort_index(ascending=False)

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
pickup,,,,,,,,,,,,,
2019-03-31 23:43:45,2019-04-01 00:13:58,5,12.25,37.0,0.00,0.0,40.80,yellow,cash,LaGuardia Airport,Williamsburg (South Side),Queens,Brooklyn
2019-03-31 23:15:03,2019-03-31 23:27:12,1,3.03,11.5,3.82,0.0,19.12,yellow,credit card,Midtown East,Upper West Side South,Manhattan,Manhattan
2019-03-31 22:51:53,2019-03-31 22:55:10,1,0.67,4.5,1.66,0.0,9.96,yellow,credit card,West Village,Meatpacking/West Village West,Manhattan,Manhattan
2019-03-31 22:32:27,2019-03-31 22:34:45,1,0.40,3.5,1.45,0.0,8.75,yellow,credit card,Midtown North,Lincoln Square East,Manhattan,Manhattan
2019-03-31 22:13:37,2019-03-31 22:22:50,1,1.00,7.5,0.70,0.0,12.00,yellow,credit card,SoHo,Lower East Side,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-01 00:29:22,2019-03-01 00:32:48,4,0.74,4.5,1.00,0.0,9.30,yellow,credit card,Meatpacking/West Village West,Meatpacking/West Village West,Manhattan,Manhattan
2019-03-01 00:15:53,2019-03-01 00:47:58,1,7.00,25.5,7.30,0.0,36.60,yellow,credit card,West Village,Astoria,Manhattan,Queens
2019-03-01 00:08:32,2019-03-01 00:29:47,3,7.35,22.5,1.00,0.0,27.30,yellow,credit card,East Chelsea,Mott Haven/Port Morris,Manhattan,Bronx
2019-03-01 00:03:29,2019-03-01 00:13:32,3,2.16,10.0,2.00,0.0,15.80,yellow,credit card,Lincoln Square East,Upper East Side North,Manhattan,Manhattan
2019-02-28 23:29:03,2019-02-28 23:32:35,1,0.90,5.0,0.00,0.0,6.30,green,cash,Old Astoria,Long Island City/Queens Plaza,Queens,Queens

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
pickup,,,,,,,,,,,,,
2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [ ]:
ß

In [ ]:
df[['dropoff',	'passengers']]

                 dropoff  passengers
0    2019-03-23 20:27:24           1
1    2019-03-04 16:19:00           1
2    2019-03-27 18:00:25           1
3    2019-03-10 01:49:51           1
4    2019-03-30 13:37:14           3
...                  ...         ...
6428 2019-03-31 09:55:27           1
6429 2019-03-31 18:34:23           1
6430 2019-03-23 23:14:25           1
6431 2019-03-04 10:14:29           1
6432 2019-03-13 19:48:02           1

[6433 rows x 2 columns]

In [ ]:
df.iloc[: , [7,9]]    # df.iloc[row , column]
df.iloc[[0,6432]]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [ ]:
ß

NameError: name 'ß' is not defined