### Data Structure in Pandas
  - <h4> Series 
  - <h4> DataFrame

In [41]:
import pandas as pd
import numpy as np

<h5><b>Series</b> is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [42]:
s=pd.Series(['a','b','c'],index=[10,20,30])

In [43]:
d = {'name':['rakesh','roshan'], 'age':[23, 45]}
pd.Series(d)

name    [rakesh, roshan]
age             [23, 45]
dtype: object

In [44]:
s = pd.Series(np.random.randn(10))

In [45]:
for i in s:
    print(i)

-0.32215685524879045
-0.08423945021390225
0.5012352416511966
0.4179285623126168
-1.3212113910982064
1.2877601893503205
-0.5495435343204308
0.17813134482475582
-0.22672366770214877
-0.11272774363235748

In [46]:
len(s)
s[3] = 0

In [47]:
print(s)

0   -0.322157
1   -0.084239
2    0.501235
3    0.000000
4   -1.321211
5    1.287760
6   -0.549544
7    0.178131
8   -0.226724
9   -0.112728
dtype: float64

In [48]:
s * 20
s + 4
np.sqrt(s)
np.exp(s)

/opt/anaconda3/lib/python3.13/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

0    0.724585
1    0.919211
2    1.650759
3    1.000000
4    0.266812
5    3.624659
6    0.577213
7    1.194982
8    0.797141
9    0.893394
dtype: float64

#### <b>DataFrame</b> is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects.

In [49]:
df1 = pd.DataFrame(s,columns=['number'])
type(df1)

pandas.core.frame.DataFrame

In [50]:
d
df2 = pd.DataFrame(d)

In [51]:
import seaborn as sns

In [52]:
#sns.get_dataset_names()
df3 = sns.load_dataset('tips')

In [53]:
df3.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [54]:
type(df3[['total_bill','tip']])

pandas.core.frame.DataFrame

In [55]:
df3.shape

(244, 7)

In [56]:
df3.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [57]:
df3.tail(10)

     total_bill   tip     sex smoker   day    time  size
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [58]:

df3.set_index('total_bill',inplace=True)

In [59]:
print(sns.get_dataset_names())
df4 = sns.load_dataset('taxis')
df4

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [60]:
df3.reset_index(inplace=True)

In [61]:
df3

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [62]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [63]:
df4_multi = df4.set_index(['pickup_zone', 'dropoff_zone'])

In [71]:
df4_multi.loc[('Lenox Hill West', 'Midtown Center')]

/var/folders/4y/ysvrh3ns3dg7903fvsqplntm0000gn/T/ipykernel_1557/1658301000.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df4_multi.loc[('Lenox Hill West', 'Midtown Center')]

                                            pickup             dropoff  \
pickup_zone     dropoff_zone
Lenox Hill West Midtown Center 2019-03-11 18:18:44 2019-03-11 18:26:55
                Midtown Center 2019-03-04 15:59:58 2019-03-04 16:10:45

                                passengers  distance  fare   tip  tolls  \
pickup_zone     dropoff_zone
Lenox Hill West Midtown Center           1      1.13   7.0  1.70    0.0
                Midtown Center           1      1.60   9.0  2.66    0.0

                                total   color      payment pickup_borough  \
pickup_zone     dropoff_zone
Lenox Hill West Midtown Center  13.00  yellow  credit card      Manhattan
                Midtown Center  15.96  yellow  credit card      Manhattan

                               dropoff_borough
pickup_zone     dropoff_zone
Lenox Hill West Midtown Center       Manhattan
                Midtown Center       Manhattan

In [ ]:
# ...existing code...
df4_multi.loc[
    (
        ['Lenox Hill West', 'Upper West Side South', 'Astoria'],  # Level 1 values
        ['Midtown Center', 'Alphabet City']                        # Level 2 values
    )
]
# ...existing code...

KeyError: "None of [Index(['Midtown Center', 'Alphabet City'], dtype='object')] are in the [columns]"

In [2]:
df4_multi.loc[[
    ['Lenox Hill West','Upper West Side South'],['Midtown Center'],:],:
    ]

SyntaxError: invalid syntax (2301286049.py, line 2)